@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); 
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
}


body {
    max-width: 1280px;
    max-height: 1626px;
    min-width: 1280px;
    min-height: 1626px;
    margin: auto;
}

.menu {
    margin: 25.5px 330px;
    padding: 0; 
}

.menu li{
    display:inline-block;
}

.home{ 
    padding: 0px;
    margin: 0px;
}

.phottoapp, .design {
    padding: 0px;
    margin-left: 62px;
}

.download{
    padding: 0px;
    margin-left: 45px;
}

.menu a {
    text-decoration: none;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.title {
    margin: 48px 253px 38px 253px;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content {
    margin: 0px 67.5px 28px 67.5px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

aside {
    margin-top: 66px;
    margin-bottom: 82px;
    margin-right: 544.5px;;
    margin-left: 544.5px;
}

.btn { 
    padding: 18px 43.5px 17px 42.5px;
    border-radius: 4px;
    background-color:#FF0000;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

footer{ 
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;;
    margin-left: 713px;
}

.all-rights {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}